* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

$font-family: "Cardo";
$font-heading: "Freight-BigBook";
$font-small: "Poppins-SemiBold";
$main-color: #b0b0b0;

@font-face {
  font-family: $font-heading;
  src: url('../fonts/Freight Big Book.otf');
}

@font-face {
  font-family: $font-small;
  src: url('../fonts/poppins/Poppins-SemiBold.otf');
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/cardo/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?8i68t8') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: $font-family;
  color: $main-color;
  font-size: 1.8rem;
  line-height: 30px;
  background-color: #04060b;
}

.container {
  width: 141rem;
  margin: auto;
}

header {

  .navbar {
    padding: 8rem 0 0;

    &__brand {
      display: block;

      h1 {
        font-size: 6.4rem;
        color: #e0e0e0;
        font-family: $font-heading;
        text-align: center;
      }
    }
  }

  .intro {
    width: 105rem;
    font-family: $font-heading;
    font-size: 9.5rem;
    color: #e0e0e0;
    line-height: 1.16;
    margin: 31.5rem auto 0;
  }

  .scroll {
    position: relative;

    .scroll-down {
      margin-top: 12rem;
      position: absolute;
      left: 50%;
      margin-left: -23px;
    }

    &.bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {

      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }

      40% {
        transform: translateY(-30px);
      }

      60% {
        transform: translateY(-15px);
      }
    }

    .arrow {
      position: relative;
      width: 45px;
      height: 45px;
      transform: rotate(-45deg);

      &.is-big {
        position: absolute;
        top: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-left: 1px solid;
        height: 44px;
        border-image:
          linear-gradient(to bottom, #000000, #5a5a5a) 1 100%;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid;
        width: 44px;
        border-image:
          linear-gradient(to left, #000000, #5a5a5a) 100% 1;
      }
    }
  }
}

.section-flex {
  display: flex;
  justify-content: space-between;
}

.section-illus {
  height: 0.1rem;
  background-image: linear-gradient(to right, #111112, #35373a, #111112);
}

.section-heading {
  font-family: $font-heading;
  font-size: 9.5rem;
  font-weight: normal;
  line-height: 1.16;
  color: #e0e0e0;
  text-align: center;
  margin-top: 115px;
}

main {
  margin-top: 23.6rem - 7rem;
  padding-top: 7rem;

  .about {

    .container {
      .container-abt {
        padding: 0 24rem 11rem 24rem;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background-image: linear-gradient(to bottom, #111112 0, #35373a 100%);
          margin-top: 0;
          height: 100%;
          width: 1px;
          top: 0;
          left: 50%;
        }
      }
    }

    &__illus {
      width: 16rem;
      height: 16rem;
      border-radius: 8rem;
      background-color: #5a5a5a;
      margin: auto;
    }

    &__header {
      font-size: 2rem;
      font-family: $font-small;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 3px;
      color: #68513d;
      text-transform: uppercase;
      margin: 10rem 0 2rem;
    }

    &__para {
      width: 50%;
      padding: 0 8rem 0 0;
      position: relative;
    }

    &__block {
      width: 50%;
      padding: 0 0 0 8rem;
    }

    &__text {
      letter-spacing: 0.5px;
      font-family: $font-heading;
      font-size: 2.2rem;

      span {
        font-family: $font-small;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.08;
        letter-spacing: 1.7px;
        color: #606060;
        text-transform: uppercase;
      }
    }
  }

  .exp {

    table {
      padding: 14rem 0 17rem 0;

      tr {
        padding-bottom: 9rem;
        display: block;

        &:last-child {
          padding-bottom: 0;
        }
      }

      th {
        width: 12.5rem;
        line-height: 1.25;
        letter-spacing: 3px;
        color: #68513d;
        font-family: $font-small;
      }

      td {
        width: 57.5rem;
        padding: 0 11.5rem;

        &.title {
          font-family: $font-heading;
          font-size: 5rem;
          text-transform: capitalize;
          line-height: 1.2;
          color: #e0e0e0;
        }

        &.content {
          ul a {
            font-family: $font-small;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2.08;
            letter-spacing: 1.7px;
            color: #68513d;
            margin-top: 2rem;
            text-decoration: underline;
          }
        }

      }
    }
  }

  .skills {
    .list {
      display: flex;
      flex-wrap: wrap;
      margin: 6rem -0.2rem 0 -0.2rem;


      .item {
        width: calc(25% - 4px);
        background: #131313;
        text-align: center;
        padding: 80px 115px 68px 115px;
        transition: all 0.2s;
        margin: 2px;

        &:nth-child(12n+1) {
          background: #04060b;
        }

        &:nth-child(12n+4),
        &:nth-child(12n+5),
        &:nth-child(12n+9),
        &:nth-child(12n+10),
        &:nth-child(12n+12) {
          background: #04060b;

          &:hover {
            background: #04060b;
          }
        }

        &:hover {
          background: #68513d;

          p,
          .title,
          .icon-language:before {
            color: #e0e0e0;

          }

          .icon-illus {
            border-color: #e0e0e0;

          }
        }

        .icon-illus {
          width: 6.5rem;
          height: 6.5rem;
          border: 0.2rem solid #68513d;
          border-radius: 2rem;
          margin: auto;
        }

        .icon-language {
          display: block;
          font-size: 4rem;
          padding: 10px;
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          &:before {
            content: "\e901";
            color: #68513d;
          }
        }

        p {
          font-family: $font-heading;
          font-size: 9.5rem;
          line-height: 1.16;
          color: #e0e0e0;
          text-transform: uppercase;
        }

        .title {
          font-family: $font-small;
          font-size: 12px;
          font-weight: 600;
          line-height: 2.08;
          letter-spacing: 1.7px;
          color: #606060;
          text-transform: uppercase;

        }
      }
    }
  }

  .works {

    .works-header {
      width: 90rem;
      margin: auto;

      .section-heading {
        text-align: left;
      }

      p {
        width: 45rem;
      }
    }

    .grid {}

    .grid-item {
      width: auto;
      height: 70rem;
      margin: 1.5rem;

      &:nth-child(9n+1),
      &:nth-child(9n+2) {
        margin-top: 13.6rem - 1.5rem;
      }

      &:nth-child(9n+1),
      &:nth-child(9n+2),
      &:nth-child(9n+5),
      &:nth-child(9n+6),
      &:nth-child(9n+7),
      &:nth-child(9n+8) {
        width: 45rem;
      }

      &:nth-child(9n+3),
      &:nth-child(9n+4),
      &:nth-child(9n+9) {
        width: 93rem;
        background: grey;

      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;

      }

      .more {
        padding-top: 54px;
        font-size: 12px;
        font-family: $font-small;
        text-transform: uppercase;
        line-height: 2.08;
        letter-spacing: 1.7px;
        font-weight: 600;

        a {
          color: #68513d;
          font-size: 14px;
          line-height: 1.79;
          letter-spacing: 2px;
        }
      }
    }
  }
}

footer {
  width: 120rem;
  margin: 245px auto 165px;

  .ft-container {}

  .title {
    &.section-heading {
      text-align: left;
    }
  }

  .ft-info {
    display: flex;
    justify-content: space-between;
  }

  .ft-web {
    color: #68513d;
    text-transform: uppercase;
    font-family: $font-small;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.79;
    letter-spacing: 0.2rem;
    margin-top: 8.4rem;

    .ft-web-item a {
      color: #68513d;
      padding-bottom: 0.5rem;
      display: block;
    }
  }

  .ft-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3.8rem;
    font-family: $font-heading;
    font-size: 2.2rem;

    .ft-box-item {
      margin: 0 3.2rem;

      p {
        line-height: 1.36;
      }
    }

    .ft-address {
      .ft-phone {
        font-family: $font-small;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 1rem;
        line-height: 1.25;
      }
    }

    .ft-contact {
      span {
        font-family: $font-small;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.92;
        letter-spacing: 1.7px;
        color: #606060;
      }
    }

    img {
      margin-bottom: 2.7rem;
    }
  }
}