* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

$font-family: "Cardo";
$font-heading: "Freight-BigBook";
$font-small: "Poppins-SemiBold";

@font-face {
  font-family: $font-heading;
  src: url('../fonts/Freight Big Book.otf');
}

@font-face {
  font-family: $font-small;
  src: url('../fonts/poppins/Poppins-SemiBold.otf');
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/cardo/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?8i68t8') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: $font-family;
  color: #b0b0b0;
  font-size: 1.8rem;
  line-height: 30px;
  background-color: #04060b;
}

.container {
  width: 1410px;
  margin: auto;

  // &--small {
  //   width: 1050px;
  // }
}

header {
  .navbar {
    padding: 80px 0 0;

    &__brand {
      display: block;

      h1 {
        font-size: 6.4rem;
        color: #e0e0e0;
        font-family: $font-heading;
        text-align: center;
      }
    }
  }

  .intro {
    width: 1050px;
    font-family: $font-heading;
    font-size: 9.5rem;
    color: #e0e0e0;
    line-height: 1.16;
    margin: 315px auto 0;
  }
}

main {
  .section-flex {
    display: flex;
    justify-content: space-between;
  }

  .section-illus {
    height: 1px;
    background-image: linear-gradient(to right, #111112, #35373a, #111112);
  }

  .section-heading {
    font-family: $font-heading;
    font-size: 9.5rem;
    line-height: 1.16;
    color: #e0e0e0;
    text-align: center;
    margin-top: 115px;
  }

  .about {
    margin-top: 235px;

    .container {
      .container-abt {
        padding: 0 240px 110px 240px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background-image: linear-gradient(to bottom, #111112 0, #35373a 100%);
          margin-top: 0;
          height: 100%;
          width: 1px;
          top: 0;
          left: 50%;
        }
      }
    }

    &__illus {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      background-color: #5a5a5a;
      margin: auto;
    }

    &__header {
      font-size: 2rem;
      font-family: $font-small;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 3px;
      color: #68513d;
      text-transform: uppercase;
      margin: 100px 0 20px;
    }

    &__para {
      width: 50%;
      padding: 0 80px 0 0;
      position: relative;


    }

    &__block {
      width: 50%;
      padding: 0 0 0 80px;
    }

    &__text {
      letter-spacing: 0.5px;
      font-family: $font-heading;
      font-size: 2.2rem;

      span {
        font-family: $font-small;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.08;
        letter-spacing: 1.7px;
        color: #606060;
        text-transform: uppercase;
      }
    }
  }

  .exp {

    table {
      padding: 140px 0 170px 0;

      tr {
        padding-bottom: 90px;
        display: block;

        &:last-child {
          padding-bottom: 0;
        }
      }

      th {
        width: 125px;
        line-height: 1.25;
        letter-spacing: 3px;
        color: #68513d;
      }

      td {
        width: 575px;
        padding: 0 115px;

        &.title {
          font-family: $font-heading;
          font-size: 5rem;
          text-transform: capitalize;
          line-height: 1.2;
          color: #e0e0e0;
        }

        &.content {
          ul {
            font-family: $font-small;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2.08;
            letter-spacing: 1.7px;
            color: #68513d;
            margin-top: 20px;
            text-decoration: underline;
          }
        }

      }
    }
  }

  .skills {
    .list {
      display: flex;
      flex-wrap: wrap;
      margin: 60px -2px 0 -2px;


      .item {
        width: calc(25% - 4px);
        background: #131313;
        text-align: center;
        padding: 80px 115px 68px 115px;
        transition: all 0.2s;
        margin: 2px;

        &:nth-child(12n+1) {
          background: #04060b;
        }

        &:nth-child(12n+4),
        &:nth-child(12n+5),
        &:nth-child(12n+9),
        &:nth-child(12n+10),
        &:nth-child(12n+12) {
          background: #04060b;

          &:hover {
            background: #04060b;
          }
        }

        &:hover {
          background: #68513d;

          p,
          .title,
          .icon-language:before {
            color: #e0e0e0;
          }

          .icon-illus {
            border-color: #e0e0e0;

          }
        }

        .icon-illus {
          width: 6.5rem;
          height: 6.5rem;
          border: 0.2rem solid #68513d;
          border-radius: 2rem;
          margin: auto;
        }

        .icon-language {
          display: block;
          font-size: 4rem;
          padding: 10px;
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          &:before {
            content: "\e901";
            color: #68513d;
          }
        }

        p {
          font-family: $font-heading;
          font-size: 9.5rem;
          line-height: 1.16;
          color: #e0e0e0;
          text-transform: uppercase;
        }

        .title {
          font-family: $font-small;
          font-size: 12px;
          font-weight: 600;
          line-height: 2.08;
          letter-spacing: 1.7px;
          color: #606060;
        }
      }
    }
  }

  .works {
    .grid-item {
      width: auto;

      img {
        display: block;
      }
    }
  }
}